beautifultable==1.1.0
ipython==8.12.3
langchain==0.3.20
langchain_core==0.3.45
langchain_huggingface==0.1.2
langchain_together==0.3.0
numpy==2.2.3
openai==1.66.3
pandas==2.2.3
python-dotenv==1.0.1
sentence_transformers==3.4.0
torch==2.5.1
tqdm==4.66.5
tyro==0.8.11
